<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Comments</title>
  <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
  <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
  <li><h3><a href="#" th:href="@{/comments/new}" th:text="#{navigation.create-comment}">Create Comment</a></h3></li>
</ul>

<div th:if="${comments.isEmpty()}">
  <h2 th:text="#{comments.title.empty}">No Comment</h2>
</div>
<div th:unless="${comments.isEmpty()}">
  <h2 th:text="#{comments.title}">All Comments</h2>

  <div class="table">
    <div class="header">

      <div class="cell" th:text="#{comment.label.content}">Content</div>
      <div class="cell" th:text="#{comment.label.user}">User</div>
      <div class="cell" th:text="#{comment.label.post}">Post</div>

    </div>

    <div class="row" th:each="comment : ${comments}">
      <div class="cell">
        <a href="#" th:href="@{/comments/{id}(id=${comment.getId()})}" th:text="${comment.content}">Comment</a>
      </div>
      <div class="cell" th:text="${comment.getCreateBy().getUsername()}"> User </div>
      <div class="cell" th:text="${comment.getPostOn().getTitle()}"> Post </div>
      <br>
    </div>
  </div>
</div>


</body>
</html>