<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Here u can see all Posts</title>
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/admin}" th:text="#{navigation.admin}">Admin Portal</a></h3></li>
    <li><h3><a href="#" th:href="@{/posts/new}" th:text="#{navigation.create-post}">Create Post</a></h3></li>
</ul>

<div th:if="${posts.isEmpty()}">
    <h2 th:text="#{posts.title.empty}">No Post</h2>
</div>
<div th:unless="${posts.isEmpty()}">
    <h2 th:text="#{posts.title}">All Posts</h2>


<div class="table">
    <div class="row" th:each="post : ${posts}">
        <div class="cell">
            <div class="cell" th:text="#{post.label.title}">Title</div>
            <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.title}">Post</a>
        </div>
        <div class="cell" th:text="#{post.label.content}">Content</div>
        <div class="cell" th:text="${post.content}"> Content </div>
        <div class="cell" th:text="#{post.label.likes}">Likes</div>
        <div class="cell" th:text="${post.likes}"> Likes </div>
        <div class="cell" th:text="#{post.label.user}">User</div>
        <div class="cell" th:text="${post.createBy.username}"> User </div>
        <br>
        <br>
    </div>
</div>



</div>

</body>
</html>