<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>

<ul>
  <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
  <li><h3><a href="#" th:href="@{/tags/new}" th:text="#{navigation.create-tag}">Create Tag</a></h3></li>
</ul>

<div th:if="${tags.isEmpty()}">
  <h2 th:text="#{tags.title.empty}">No Tag</h2>
</div>
<div th:unless="${tags.isEmpty()}">
  <h2 th:text="#{tags.title}">All Tags</h2>

  <div class="table">
    <div class="header">

      <div class="cell" th:text="#{tag.label.name}">Name</div>
      <div class="cell" th:text="#{tag.label.user}">User</div>
      <div class="cell" th:text="#{tag.label.post}">Post</div>

    </div>

    <div class="row" th:each="tag : ${tags}">
      <div class="cell">
        <a href="#" th:href="@{/tags/{id}(id=${tag.getId()})}" th:text="${tag.name}">Tag</a>
      </div>
      <div class="cell" th:text="${tag.getCreateBy().getUsername()}"> User </div>
      <div class="cell" th:text="${tag.getPostOn().getTitle()}"> Post </div>
      <br>
    </div>
  </div>
</div>


</body>
</html>