<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Private part only for Admins</title>
  <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
  <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
  <li><h3><a href="#" th:href="@{/users/new}" th:text="#{navigation.create-user}">Create Account</a></h3></li>
</ul>

<div th:if="${users.isEmpty()}">
  <h2 th:text="#{users.title.empty}">No User</h2>
</div>
<div th:unless="${users.isEmpty()}">
  <h2 th:text="#{users.title}">All users</h2>

  <div class="table">
    <div class="header">
      <div class="cell" th:text="#{user.label.Id}">ID</div>
      <div class="cell" th:text="#{user.label.first}">First name</div>
      <div class="cell" th:text="#{user.label.last}">Last name</div>
      <div class="cell" th:text="#{user.label.username}">Username</div>
      <div class="cell" th:text="#{user.label.email}">Email</div>
      <div class="cell" th:text="#{user.label.role}">Role</div>
    </div>

    <div class="row" th:each="user : ${users}">
      <div class="cell">
        <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.id}">User</a>
      </div>
      <div class="cell" th:text="${user.getFirst_name()}"> First name </div>
      <div class="cell" th:text="${user.getLast_name()}"> Last name </div>
      <div class="cell" th:text="${user.getUsername()}"> Username </div>
      <div class="cell" th:text="${user.getEmail()}"> Email </div>
      <div class="cell" th:text="${user.getRole()}"> Role </div>
      <br>
    </div>
  </div>



</div>


</body>
</html>