<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${comment.getContent()}">Comment</title>
  <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>
<body>

<ul>
  <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
  <li><h3><a href="#" th:href="@{/comments}" th:text="#{navigation.all-posts}">Browse all comments </comm></a></h3></li>
</ul>

<h2 th:text="${comment.getContent()}">Content</h2>
<h3 th:text="${comment.getCreateBy().getUsername()}">User</h3>
<h3 th:text="${comment.getPostOn().getTitle()}">Post</h3>


<h3>
  <!--    <a href="#" th:href="@{/beers/{id}/update(id=${beer.getId()})}">Update</a>-->
  <!--    <a href="#" th:href="@{/beers/{id}/delete(id=${beer.getId()})}">Delete</a>-->
  <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
  <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>