<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
  <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet"/>
</head>

<body>

<ul>
  <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Back to All Post</a></h3></li>
</ul>

<h2>New User creation</h2>

<form  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">
  <label th:text="#{user.label.username}">Username</label>
  <br/>
  <input  type="text" th:field="*{username}"/>
  <label class="error" th:errors="*{username}">Username error placeholder</label>
  <br/><br/>

  <label th:text="#{user.label.password}">Password</label>
  <br/>
  <input type="password" th:field="*{password}"/>
  <label class="error" th:errors="*{password}">error placeholder</label>
  <br/><br/>

  <label th:text="#{user.label.first}">Fisrt name</label>
  <br/>
  <input type="text" th:field="*{first_name}"/>
  <label class="error" th:errors="*{first_name}">error placeholder</label>
  <br/><br/>

  <label th:text="#{user.label.last}">Last name</label>
  <br/>
  <input type="text" th:field="*{last_name}"/>
  <label class="error" th:errors="*{last_name}">error placeholder</label>
  <br/><br/>

  <label th:text="#{user.label.email}">Email</label>
  <br/>
  <input type="email" th:field="*{email}"/>
  <label class="error" th:errors="*{email}">error placeholder</label>
  <br/><br/>


  <input type="submit" value="Save"/>
</form>



</body>
</html>