<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Tag</title>
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="#" th:href="@{posts}" th:text="#{navigation.all-posts}">Back to All Posts</a></h3></li>
    <li><h3><a href="#" th:href="@{tags}" th:text="#{navigation.all-tags}">Back to All Tags</a></h3></li>
</ul>

<h2>Add new Tag</h2>

<form  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tag}" method="post">

    <label th:text="#{tag.label.name}">Tag name</label>
    <br/>
    <input  type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Content error placeholder</label>
    <br/><br/>

    <label th:text="#{tag.label.user}">User</label>
    <br/>
    <select th:field="*{userId}">
        <option th:each="user : ${users}"
                th:value="${user.getId()}"
                th:text="${user.getUsername()}">
            UserId
        </option>
    </select>
    <br><br>

    <label th:text="#{tag.label.post}">Post</label>
    <br/>
    <select th:field="*{postId}">
        <option th:each="post : ${posts}"
                th:value="${post.getId()}"
                th:text="${post.getTitle()}">
            PostId
        </option>
    </select>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>