<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet"/>
</head>

<body>

 <ul>
  <li><h3><a href="#" th:href="@{posts}" th:text="#{navigation.all-posts}">Back to All Post</a></h3></li>

 </ul>

<h2>New Post Creation</h2>

 <form  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">
     <label th:text="#{post.label.title}">Post Title</label>
     <br/>
     <input  type="text" th:field="*{title}"/>
     <label class="error" th:errors="*{title}">Title error placeholder</label>
     <br/><br/>

     <label th:text="#{post.label.content}">Content</label>
     <br/>
     <input type="text" th:field="*{content}"/>
     <label class="error" th:errors="*{content}">error placeholder</label>
     <br/><br/>



     <input type="submit" value="Save"/>
 </form>


</body>
</html>