<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post title</title>
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>
<body>

<ul>
    <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
</ul>

<h2 th:text="${post.getTitle()}">Title</h2>
<h3 th:text="${post.getContent()}">Content</h3>
<h3 th:text="${post.getCreateBy().getUsername()}">UserID</h3>



<!--<ul>-->
<!--    <li><h3><a href="#" th:href="@{/tags/new}" th:text="#{navigation.create-tag}">Add Tag</a></h3></li>-->
<!--</ul>-->
<!--<br> <br>-->






<!--<ul>-->
<!--    <li><h3><a href="#" th:href="@{/comments/new}" th:text="#{navigation.create-comment}">Add comment</a></h3></li>-->

<!--</ul>-->
<br>
<h3>
    <a href="#" th:href="@{/posts/{id}/update(id=${post.getId()})}">Update</a>
    <a href="#" th:href="@{/posts/{id}/delete(id=${post.getId()})}">Delete</a>
</h3>

</body>
</html>
