<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link th:href="@{/css/UpdatePostView.css}" rel="stylesheet"/>

</head>

<body>
<h1>Edit Post</h1>
<div class="center-content">
    <ul>
        <li><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Go back to all Posts</a></li>
    </ul>
</div>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">
    <label th:text="#{post.label.title}">Post Title</label>
    <input type="text" th:field="*{title}"/>

    <label class="error" th:errors="*{title}">Title error placeholder</label>

    <label th:text="#{post.label.content}">Content</label>
    <input type="text" th:field="*{content}"/>



    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>
