<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Comment</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="#", th:href="@{/posts}" th:text="#{navigation.all-posts}">Go to back to all Posts</a></h3></li>
    <li><h3><a href="#", th:href="@{/comments}" th:text="#{navigation.all-comments}">Go to back to all Comments</a></h3></li>
</ul>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${comment}" method="post">
    <label th:text="#{comment.label.content}">Content</label>
    <br>
    <input type="text" th:field="*{content}">
    <label class="error" th:errors="*{content}">Content error </label>
    <br> <br>

    <label th:text="#{comment.label.user}">User</label>
   <select th:field="*{userId}">
       <option th:each="user : ${users}"
                th:value="${user.getId()}"
               th:text="${user.getUsername()}">
           UserId
       </option>
   </select>
    <br> <br>

    <label th:text="#{comment.label.post}">Post</label>
    <br/>
    <select th:field="*{postId}">
        <option th:each="post : ${posts}"
                th:value="${post.getId()}"
                th:text="${post.getTitle()}">
            PostId
        </option>
    </select>
    <br> <br>

    <input type="submit" value="Save">
</form>
</body>
</html>