<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Tag</title>
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="#" , th:href="@{/posts}" th:text="#{navigation.all-posts}">Go to back to all Posts</a></h3></li>
    <li><h3><a href="#" , th:href="@{/comments}" th:text="#{navigation.all-comments}">Go to back to all Comments</a>
    </h3></li>
</ul>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tag}" method="post">
    <label th:text="#{tag.label.name}">Tag name</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error </label>
    <br/><br/>


    <label th:text="#{tag.label.post}">Post</label>
    <br/>
    <select th:field="*{postId}">
        <option th:each="post : ${posts}"
                th:value="${post.getId()}"
                th:text="${post.getTitle()}">
            PostId
        </option>
    </select>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>