<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>User Detail Update</h3>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">

    <label th:text="#{user.label.password}">Password</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <label class="error" th:errors="*{password}">error placeholder</label>
    <br><br>

    <label th:text="#{user.label.changePassword}">Password new</label>
    <br/>
    <input type="password" th:field="*{changePassword}"/>
    <label class="error" th:errors="*{changePassword}">error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.changePasswordConfirm}">Password new Confirm</label>
    <br/>
    <input type="password" th:field="*{changePasswordConfirm}"/>
    <label class="error" th:errors="*{changePasswordConfirm}">error placeholder</label>
    <br/><br/>


    <input type="submit" value="Update"/>
</form>


</body>
</html>