<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
  <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet"/>
</head>

<body>
<ul>
  <li><h3><a href="#", th:href="@{/posts}" th:text="#{navigation.all-posts}">Go to back to all Posts</a></h3></li>
</ul>


<form  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">

  <label th:text="#{post.label.title}">Post Title</label>
  <br/>
  <input  type="text" th:field="*{title}"/>
  <label class="error" th:errors="*{title}">Title error placeholder</label>
  <br/><br/>

  <label th:text="#{post.label.content}">Content</label>
  <br/>
  <input type="text" th:field="*{content}"/>
  <label class="error" th:errors="*{content}">error placeholder</label>
  <br/><br/>

  <select th:field="*{userId}">
    <option th:each="user : ${users}"
            th:value="${user.getId()}"
            th:text="${user.getUsername()}">
      UserId
    </option>
  </select>

  <br/><br/>
  <input type="submit" value="Save"/>
</form>



</body>
</html>