<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">Private part only for Admins</title>
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all User</a></h3></li>
</ul>

<h3  th:text="${user.getId()}">ID</h3>
<h3  th:text="${user.getFirst_name()}">First name</h3>
<h3  th:text="${user.getLast_name()}">Last name</h3>
<h3  th:text="${user.getUsername()}">Username</h3>
<h3  th:text="${user.getEmail()}">Email</h3>
<h3  th:text="${user.getRole()}">Role</h3>


<h3>
    <!--    <a href="#" th:href="@{/beers/{id}/update(id=${beer.getId()})}">Update</a>-->
    <!--    <a href="#" th:href="@{/beers/{id}/delete(id=${beer.getId()})}">Delete</a>-->
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>