body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19538a;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #cbceee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
    font-style: oblique;
}

.menu {
    margin-bottom: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px 20px;
    background-color: #19538a;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #04356b;
    font-style: oblique;
}

.user-info {
    text-align: center;
    font-size: 18px;
    color: black;
    font-style: oblique;
}

.user-info p {
    margin-bottom: 10px;
}

.user-info span {
    font-weight: bold;
    font-size : 20px;
    color: darkgreen;
}
