
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cfdaef;
}

.header, footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: oblique;
    border: 1px solid #0d0f10;
    text-align: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: #CCA000FF;
}

h2 {
    font-style: oblique;
    font-weight: bolder;

}

div {
    font-style: oblique;
}

.post-title {
    font-size: 24px;
    background-color: #7eb1ea;
    color: black;
    margin-bottom: 15px;
    font-style: oblique;
}

.post-item {
    background-color: #cbceee;
    padding: 20px;
    border: 1px solid #0d0f10;
    border-radius: 4px;
    color: black;
}

.post-content,
.post-user {
    color: darkgreen;
    margin: 10px 0;
}

.post-content {
    font-size: 16px;
    transition: font-size 0.3s ease;
    font-style: normal;
}

.post-content:hover {
    font-size: 25px;
    color: red;
}

.post-user {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}