body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cfdaef;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    max-height: 100vh;
}

nav, footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;


}
nav a {
    color: white;
    text-decoration: none;
font-weight: bold;
}

nav a:hover {
    color: #CCA000FF;
}

.post-container {
    margin-top: 40px;
    text-align: center;

}

.post-title {
    font-size: 24px;
    background-color: #7eb1ea;
    color: black;
    margin-bottom: 15px;
    font-style: italic;
    border: 1px solid #0d0f10;

}

.post-likes {
    color: green;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.post-item {
    background-color: #cbceee;
    padding: 20px;
    border: 1px solid #0d0f10;
    border-radius: 4px;

}

.post-link {
    text-decoration: none;
    color: #a1c1e7;
}

.post-content,
.post-user {
    color: #555;
    margin: 10px 0;
}

.post-content {
    font-size: 18px;
    font-style: italic;

}

.post-user {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form input[type="text"],
form select,
form button[type="submit"] {
    margin: 5px;
    padding: 10px;
    border: 1px solid #0d0f10;
    border-radius: 4px;

}

form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0d0f10;

}

form button[type="submit"]:hover {
    background-color: #0056b3;
    border: 1px solid #0d0f10;

}

form input[type="text"] {
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    border: 1px solid #0d0f10;

}

form input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;

}

form select {
    width: 150px;
}

form#resetForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

form#resetForm input[type="submit"] {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0d0f10;

}

form#resetForm input[type="submit"]:hover {
    background-color: #c0392b;
}


