body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #CCA000FF;
}

.empty-tags, .table {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    display: table-row;
    background-color: #f1f1f1;
    font-weight: bold;
}

.cell {
    display: table-cell;
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

