body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cbceee;

}

.container {

    margin: 0 auto;
    padding: 20px;

}

.navbar {
    background-color: #19538a;
    padding: 10px;
    color: #0d0f10;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    text-size-adjust: auto;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;

}


.nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 22px;

}

.nav-link:hover {
    color: #CCA000FF;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
h2 {
    font-style: oblique;
}

form input[type="text"],
form input[type="email"],
form select,
form button[type="submit"] {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #0d0f10;

}

form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0d0f10;

}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

form input[type="text"],
form input[type="email"] {
    width: 200px;
    border: 1px solid #0d0f10;

}

form select {
    width: 150px;
}

form#resetForm {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

form#resetForm input[type="submit"] {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0d0f10;

}

form#resetForm input[type="submit"]:hover {
    background-color: #c0392b;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container th, .container td {
    padding: 10px;
    text-align: center;
    border: 1px solid #0d0f10;
}

.container th {
    background-color: #007BFF;
    color: #fff;
}

.container tbody tr:hover {
    background-color: #f5f5f5;
}

footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}