
body {
    background-color: #f7f7f7;
    color: #0d0f10;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.navigation {
    background-color: #19538a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    color: white;
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
    margin-left: auto;
    font-size: 25px;
}

.navigation a:hover {
    color: #CCA000FF;
}

.comment-details {
    background-color: #7eb1ea;
    padding: 30px;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    border: 1px solid #0d0f10;
}

.comment-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: oblique;
}

.comment-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: oblique;
}

.like-button, .dislike-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-content {
    padding: 9px;
    text-align: center;

}
h2 {
    text-align: center;
    transition: font-size 0.3s ease;
}

h2:hover {
    font-size: 28px;
}

.post-user {
    color: green;
}
.post-likes {
    color: white;
    background-color: green;
}

.like-button {
    background-color: green;
}

.dislike-button {
    background-color: #f44336;
}

.update-button, .delete-button {
    padding: 5px 10px;
    font-size: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}

a.update-button{
    color: white;
}

a.delete-button{
    color: white;
}

.update-button {
    background-color: #2196F3;
}

.delete-button {
    background-color: #f44336;
}

.actions a {
    display: inline-block;
    margin-right: 10px;
    color: #2196F3;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

br {
    display: block;
    margin: 10px 0;
}

footer {
    background-color: #19538a;
    color: #bce2f3;
    font-style: italic;
    text-align: center;
}