
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfdaef;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 6px;

}


.navbar {
    background-color: #19538a;
    color: #fff;
text-align: center;
    padding: 11px;
    list-style: none;
}

.navbar-nav {
    list-style: none;
    padding: 11px;
    font-size: 18px;
    font-weight: bold;
}


.nav-link {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-style: oblique;
    list-style: none;
    font-size: 20px;
}

.nav-link:hover {
    color: #CCA000FF;
}

h2 {
    font-style: oblique;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #0d0f10;

}

#content.form-control {
    width: 100%;
    height: 150px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #0d0f10;
    resize: none;
    white-space: normal;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid #0d0f10;

}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #1a518a;
}

.text-danger {
    color: #dc3545;
}

footer {
    background-color: #19538a;
    padding: 9px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}
