* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #dee6ef;
    justify-content: center;
align-items: center;
    margin: 0;
    padding: 20px;
}

.navigation {
    list-style: none;
    background-color: #19538a;
    padding: 20px;
    color: black;
    font-style: oblique;
    border: 1px solid #0d0f10;
    align-items: center;
    width: 100%;
}

.navigation a {
    margin-left: 700px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding: 0;
}
.navigation a:hover {
    color: #CCA000FF;
}

.form-container {
    background-color: #cfdaef;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-style: oblique;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container .error {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}