body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfdaef;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
}

.nav-bar {
    background-color: #19538a;
    color: #fff;
    padding: 11px;
    list-style: none;

}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}



.nav-links a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.nav-links a:hover {
    color: #CCA000FF;
}

.post-container {
    padding: 2rem 0;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-style: oblique;
    color: black;
    text-align: left;
}

.input-group {
    margin-bottom: 1rem;
}

.input-label {
    display: block;
    color: #0d0f10;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: left;
}

.input-field-title {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border: 1px solid #0d0f10;
    border-radius: 0.25rem;
}

.input-field-content {
    width: 100%;
    height: 150px;
    padding: 0.5rem;
    border: 1px solid #0d0f10;
    border-radius: 0.25rem;
}

.error-label {
    display: block;
    color: #dc3545;
    font-size: 0.75rem;
    font-weight: bold;
}

.submit-btn {
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid #0d0f10;
}

.submit-btn:hover {
   background-color: #222264;
}

footer {
    background-color: #19538a;
    padding: 6px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}