* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #19538a;

}


.login-container {
    font-style: oblique;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #0d0f10;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0d0f10;
    border-radius: 4px;
}

.login-container .error {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #0d0f10;
    border-radius: 4px;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

