body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cfdaef;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 6px;
    font-size: 16px;

}

header {
    background-color: #19538a;
    padding: 11px;
    color: black;
    font-style: oblique;
    text-align: center;
    list-style: none;
    font-size: 20px;

}

header h1 {
    font-size: 20px;
  font-weight: bold;
    list-style: none;
    padding: 11px;

}

nav {
    color: white;
    font-size: 16px;
    font-style: oblique;
    text-decoration: none;
    transition: color 0.3s ease;
    list-style: none;
    text-align: center;
    font-weight: bold;
    padding: 11px;
}
.form-group {
    margin-bottom: 1rem;
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    list-style: none;
}

nav a:hover {
    color: #CCA000FF;
}

nav:hover {
    color: #CCA000FF;
}

h2.title {
    font-style: oblique;
    color: black;
    font-weight: unset;
    margin-left: 100px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 28px;
    color: #007BFF;
    font-style: inherit;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
    font-style: oblique;
}


h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

h5 {
    font-size: 18px;
    color: #777;
    font-style: italic;
}

.comment-section {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.post-likes {
    color: green;
}

.comment-section h3 {
    font-size: 28px;
    color: #0d0f10;
    margin-bottom: 15px;
}

.comment-section ul li {
    border-left: 3px solid #007BFF;
    padding-left: 15px;
}

.comment-section ul li:last-child {
    margin-bottom: 0;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.add-button {
    margin-top: 10px;
    text-align: center;
}

.add-button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    font-style: oblique;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid #0d0f10;
    text-decoration: none;

}

.add-button a:hover {
    background-color: #0056b3;
}

button.like-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: oblique;
    border: 1px solid #0d0f10;
    background-color: green;

}

button.dislike-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #c50a0a;
    color: #fff;
    text-decoration: none;
    border: 1px solid #0d0f10;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: oblique;
}

a.update-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid #0d0f10;

}

a.update-button:hover {
    background-color: #0056b3;
}

a.delete-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #c50a0a;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid #0d0f10;

}

a.delete-button:hover {
    background-color: #910707;
}

footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}


