body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cfdaef;
}

.navigation {
    list-style: none;
    background-color: #19538a;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    max-height: 100vh;
text-align: center}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-style: oblique;
text-align: center;
}

.navigation a:hover {
    color: #CCA000FF;
}


.form-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #cfdaef;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #0d0f10;

}

.form-container .error {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #0d0f10;

}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}