
body {
    font-family: Arial, sans-serif;
    background-color: #19538a;
    margin: 0;
    padding: 0;
}

h3 {
    color: #0d0f10;
    text-align: center;
    margin-top: 20px;
    text-size-adjust: inherit;
    font-size: 25px;
    font-style: oblique;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #cbceee;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-style: oblique ;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2a5d93;
}

.error {
    color: #d50000;
    font-size: 12px;
    margin-top: 5px;
}

