body {
    font-family: Arial, sans-serif;
    background-color: #19538a;
    align-items: center;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    font-style: oblique;
    background-color: #19538a;
    margin: 20px 0;


}
form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #7eb1ea;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-style: oblique;
    border: 1px solid #0d0f10;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: center;

}
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0d0f10;
    border-radius: 3px;
}
.error {
    color: #d60000;
    font-size: 12px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: italic;
    text-size-adjust: auto;
    border: 1px solid #0d0f10;

}
input[type="submit"]:hover {
    background-color: #2a5d93;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li a {
    text-decoration: none;
    color: white;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    color: #CCA000FF;
}

.center-content {
    text-align: center;
}

footer {
    background-color: #19538a;
    padding: 11px;
    color: #bce2f3;
    font-style: italic;
    border: 1px solid #0d0f10;
    text-align: center;
}