body {
    font-family: Arial, sans-serif;
    background-color: #d9e2ee;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cfdaef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}


header {
    background-color: #19538a;
    color: black;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
    font-style: oblique;

}

h1 {
    font-size: 24px;
    margin: 0;
}

ul.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

ul.navigation li {
    margin-right: 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #19538a;
    font-style: oblique;

}

ul.navigation li a:hover {
    color: #CCA000FF;
}

.user-details h2 {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #4CAF50;
    margin: 10px auto;
}

.user-details li {
    display: flex;

}
.user-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #d9e2ee;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.user-photo {
    max-width: 240px;
    max-height: 240px;
    border-radius: 8px;
    border: 4px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}

.user-photo:hover {
    transform: scale(1.3);
}


.user-details h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #4CAF50;
    margin-top: 0;
}

.user-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: oblique;
    margin-bottom: 20px;
}

.user-details li {
    margin-bottom: 15px;
    display: flex;
}

.user-details li strong {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
}

.user-details li span {
    flex: 1;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.actions a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease;

}

.actions a.update {
    background-color: #4CAF50;
}

.actions a.text-center {
    background-color: #F44336;
}

.actions a.text-center:hover {
    background-color: #de3124;
}


.actions a.admin {
    background-color: #FF9800;
}
.actions a.update:hover{
    background-color: #0f5132;
}
.actions a.admin:hover {
    background-color: #e7b610;
}

.status {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.status form {
    display: inline-block;
    margin: 0 10px;
}

.block-button {
    background-color: #F44336;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.block-button:hover
 {
    background-color: #e53935;
}

.active-button:hover {
    background-color: #0f5132;
}
