<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/AccessDenied.css}" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>

<div class="error">
    <div class="error-container">
        <h2 class="error-message" th:text="${error}">Error</h2>
    </div>
</div>

</body>
</html>
