<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Detail Update</title>
  <link th:href="@{/css/UpdateUserView.css}" rel="stylesheet"/>

</head>
<body>

<h3>User Contact Information Update</h3>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${phoneNumber}" method="post">

  <label  th:text="#{user.label.phoneNumber}">Phone Number</label>
  <br/>
  <input type="text" th:field="*{phoneNumber}"/>
  <label class="error" th:errors="*{phoneNumber}"></label>
  <br/><br/>



  <input type="submit" value="Add"/>
</form>

</body>
</html>
