<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    <link th:href="@{/css/AdminPortal.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="title">Forum Administration Portal</h1>

    <div class="menu">
        <ul>
            <li><a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
            <li><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></li>
            <li><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Browse all comments</a></li>
            <li><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></li>
            <li th:if="${isAuthenticated}"><a href="#" th:href="@{/auth/logout}">Logout</a></li>
        </ul>
    </div>

    <div class="user-info" th:if="${isAuthenticated}">
        <p>Welcome back home, <span th:text="${session.currentUser}"></span>!</p>
    </div>
</div>
</body>
</html>
