<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Comments</title>
    <link th:href="@{/css/AllCommentsView.css}" rel="stylesheet"/>
</head>

<body>
<ul class="header">
    <h2><a href="/">Homepage</a></h2>
    <li><h3><a href="#" th:href="@{/comments/new}" th:text="#{navigation.create-comment}">Create Comment</a></h3></li>
    <h3><a href="/comments/myComments">My Comments</a></h3>
</ul>

<div th:if="${comments.isEmpty()}">
    <h2 th:text="#{comments.title.empty}">No Comment</h2>
</div>

<div th:unless="${comments.isEmpty()}">
    <h2 class= "comments-title" th:text="#{comments.title}">All Comments</h2>

        <div class="post-item" th:each="comment : ${comments}" th:if="${comment.getStatus().toString().equals('Active')}">
            <div> Full Comment: <span class="post-content">
                <a href="#" th:href="@{/comments/{id}(id=${comment.getId()})}" th:text="${comment.content}">Comment</a>
            </span></div>

            <p th:if="${comment.createBy.getStatus().toString().equals('Active')}"> Username: <span  class="post-user" th:text="${comment.createBy.username}">User </span></p>
            <p th:if="${comment.createBy.getStatus().toString().equals('Block')}"> Username: <span  class="post-user" th:text="#{blocked}">User </span></p>

            <div> Post Title: <span class="post-title" th:text="${comment.getPostOn().getTitle}"></span></div>
        </div>
    </div>
</div>
</body>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
