<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Here you can see all Posts!</title>
    <link th:href="@{/css/AllPostsView.css}" rel="stylesheet"/>
</head>

<body>
<nav>
    <div class="container">
        <h1><a href="/">Homepage</a></h1>
        <h3><a href="/posts/new">Create New Post</a></h3>
        <h3><a href="/posts/myPosts">My Posts</a></h3>
    </div>
</nav>

<br><br><br>
<div class="filter-container">
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${filter}" method="get">
        <input type="text" placeholder="Title" th:field="*{title}"/>
        <input type="text" placeholder="Content" th:field="*{content}"/>

        <select th:field="*{sortBy}">
            <option value=" ">Default</option>
            <option value="title">Title</option>
            <option value="content">Content</option>
            <option value="comment_count">Comments</option>
        </select>
        <select th:field="*{sortOrder}">
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <form action="#" th:action="@{/posts}" method="get" id="resetForm">
        <input type="submit" value="Reset">
    </form>
</div>

<div class="post-container">
    <div th:if="${posts.isEmpty()}" style="text-align: center;">
        <h2 class="post-title">No Post</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 class="post-title">All Forum Posts</h2>
        <div class="post-grid">
            <div class="post-item" th:each="post : ${posts}"  th:if="${post.getStatus().toString().equals('Active')}">

                <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}" class="post-link">
                    <h3 class="post-title" th:text="${post.title}">Post Title</h3>
                </a>
                <p class="post-content" th:text="${post.content}">Content</p>
                <p> Likes №: <span class="post-likes" th:text="${post.getUserLikes().size()}">Likes </span></p>
                <p> Comments №: <span class="post-likes" th:text="${post.commentsCount}">Counts </span></p>
                <p th:if="${post.createBy.getStatus().toString().equals('Active')}"> Username: <span  class="post-user" th:text="${post.createBy.username}">User </span></p>
                <p th:if="${post.createBy.getStatus().toString().equals('Block')}"> Username: <span  class="post-user" th:text="#{blocked}">User </span></p>

            </div>
        </div>
    </div>
</div>

</body>
<br><br>

<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
