<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tags</title>
    <link th:href="@{/css/AllTagsView.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <ul class="navigation">
        <li><a href="/" th:text="#{navigation.home}">Home</a></li>
        <li><a href="#" th:href="@{/tags/new}" th:text="#{navigation.create-tag}">Create Tag</a></li>
    </ul>

    <div th:if="${tags.isEmpty()}" class="empty-tags">
        <h2 th:text="#{tags.title.empty}">No Tags</h2>
    </div>
    <div th:unless="${tags.isEmpty()}">
        <h2 th:text="#{tags.title}">All Tags</h2>

        <div class="table">
            <div class="table-header">
                <div class="cell">Name</div>
                <div class="cell">User</div>
                <div class="cell">Post</div>
            </div>

            <div class="table-row" th:each="tag : ${tags}">
                <div class="cell">
                    <a href="#" th:href="@{/tags/{id}(id=${tag.getId()})}" th:text="${tag.name}">Tag</a>
                </div>
                <div class="cell" th:text="${tag.getCreateBy().getUsername()}">User</div>
                <div class="cell" th:text="${tag.getPostOn().getTitle()}">Post</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
