<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta chars
          et="UTF-8">
    <title>Private part only for Admins</title>
    <link th:href="@{/css/AllUsersView.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/" th:text="#{navigation.home}">Home</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${filter}" method="get">
    <input type="text" placeholder="First name" th:field="*{first_name}"/>
    <input type="text" placeholder="Username" th:field="*{username}"/>
    <input type="email" placeholder="Email" th:field="*{email}"/>
    <select th:field="*{sortBy}">
        <option value=" "> Default</option>
        <option value="first_name"> First name</option>
        <option value="last_name"> Last name</option>
        <option value="username"> Username</option>
        <option value="email"> Email</option>
    </select>
    <select th:field="*{sortOrder}">
        <option value="asc"> Asc</option>
        <option value="desc"> Desc</option>
    </select>
    <button type="submit" value="Search"> Search</button>
</form>

<form action="#" th:action="@{/users}" method="get" id="resetForm">
    <input type="submit" value="Reset">
</form>

<div class="container">
    <div th:if="${users.isEmpty()}">
        <h2 th:text="#{users.title.empty}">No User</h2>
    </div>
    <div th:unless="${users.isEmpty()}">
        <h2 th:text="#{users.title}">All users</h2>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{user.label.Id}">ID</th>
                <th th:text="#{user.label.first}">First name</th>
                <th th:text="#{user.label.last}">Last name</th>
                <th th:text="#{user.label.username}">Username</th>
                <th th:text="#{user.label.email}">Email</th>
                <th th:text="#{user.label.role}">Role</th>
                <th th:text="#{user.label.status}">Status</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.id}">User</a>
                </td>
                <td th:text="${user.getFirst_name()}"> First name</td>
                <td th:text="${user.getLast_name()}"> Last name</td>
                <td th:text="${user.getUsername()}"> Username</td>
                <td th:text="${user.getEmail()}"> Email</td>
                <td th:text="${user.getRole()}"> Role</td>
                <td th:text="${user.getStatus()}"> Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
