<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${comment.getContent()}">Comment</title>
    <link th:href="@{/css/CommentView.css}" rel="stylesheet"/>
</head>
<body class="navigation">
<h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
<h3><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Browse all comments</a></h3></li>
<title>Single Comment Details</title>
<div class="comment-details">
    <h2> Content: <span class="post-content" th:text="${comment.getContent()}">Content</span></h2>
    <h3> User: <span class="post-user" th:text="${comment.getCreateBy().getUsername()}">User </span></h3>
    <h3> Post Title: <span th:text="${comment.getPostOn().getTitle()}">Post </span></h3>

</div>

<h3> Creator: <span th:text="${comment.getCreateBy().getUsername()}"> Creator </span></h3>
<h3> Likes: <span class="post-likes" th:text="${comment.getUserLikes().size()}">Likes</span></h3>

<form action="#" th:action="@{/comments/__${comment.id}__/like/}" th:object="${comment}" method="post">
    <div th:unless="${comment.userLikes.contains(user)}" class="text-center">
        <button type="submit" value="Like" class="like-button">Like</button>
    </div>

    <div th:if="${comment.userLikes.contains(user)}" class="text-center">
        <button type="submit" value="Dislike" class="dislike-button">Dislike</button>
    </div>
</form>
<br>

<h3>
    <a class="update-button" href="#" th:href="@{/comments/{id}/update(id=${comment.getId()})}">Update</a>
    <a class="delete-button" href="#" th:href="@{/comments/{id}/delete(id=${comment.getId()})}">Delete</a>
</h3>
<br>

</body>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
