<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/CreatePostView.css}" rel="stylesheet"/>

</head>

<body>

<nav class="nav-bar">
    <div class="container">
        <ul class="nav-links">
            <li><h2><a href="/">Homepage</a></h2></li>
            <li><h3><a href="/posts" th:href="@{/posts}" th:text="#{navigation.all-posts}">Back to All Post</a></h3>
            </li>
        </ul>
    </div>
</nav>

<div class="container post-container">
    <h2 class="post-title">New Post Creation</h2>

    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post"
          class="post-form">
        <div class="input-group">
            <label class="input-label" th:text="#{post.label.title}">Post Title</label>
            <input type="text" th:field="*{title}" class="input-field-title">
            <label class="error-label" th:errors="*{title}">Title error placeholder</label>
        </div>

        <div class="input-group">
            <label class="input-label" th:text="#{post.label.content}">Content</label>
            <input type="text" th:field="*{content}" class="input-field-content">
            <label class="error-label" th:errors="*{content}">Error placeholder</label>
        </div>


        <div>
            <input type="submit" value="Save" class="submit-btn">
        </div>
    </form>
</div>

</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
