<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Tag</title>
    <link th:href="@{/css/CreateTagView.css}" rel="stylesheet"/>
</head>

<body>
<ul class="navigation">
    <li><h3><a href="/">Homepage</a></h3></li>
    <br>
    <li><h3><a href="/posts">All Posts</a></h3></li>


</ul>

<div class="form-container">
    <h2>New Tag Creation</h2>

    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tag}" method="post">

        <label th:text="#{tag.label.name}">Tag name</label>
        <br/>
        <input type="text" th:field="*{name}">
        <label class="error" th:errors="*{name}">Content error placeholder</label>
        <br/><br/>

        <label th:text="#{tag.label.post}">Post</label>
        <br/>
        <select th:field="*{postId}">
            <option th:each="post : ${posts}" th:value="${post.getId()}" th:text="${post.getTitle()}"></option>
        </select>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
