<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Comment</title>
    <link th:href="@{/css/CreateCommentView.css}" rel="stylesheet"/>

</head>

<body>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/posts" th:text="#{navigation.all-posts}">Back to All Post</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="/comments" th:text="#{navigation.all-comments}">Back to All Comments</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container 2">
    <h2>New Comment Creation</h2>

    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${comment}" method="post">
        <div class="form-group">
            <label th:text="#{comment.label.content}">Comment Content</label>
            <input type="text" th:field="*{content}" class="form-control">
            <label class="text-danger" th:errors="*{content}">Content error placeholder</label>
        </div>

        <div class="form-group">
            <label th:text="${post.getTitle()}">Post</label>
        </div>
        <div class="form-group">
            <label th:text="${post.getContent()}">Post</label>
        </div>

        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
