<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Car Forum</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body >
        <!-- Navigation-->
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#" th:if="${isAuthenticated}"  th:href="@{/users/profile}"><span th:text="${logUser.username}"></span>  <img th:if="${logUser != null}" th:src="${logUser.photoUrl != null ? logUser.photoUrl : '/assets/img/User_photo/default.jpg'}" alt="..." /></a>
                <a class="navbar-brand" href="#masthead">
                </a>
                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li th:if="${isAdmin}" class="nav-item"><a class="nav-link" href="#" th:href="@{/users/admin}" th:text="#{navigation.admin}">Admin Portal</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Main menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Top Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about" >Last Posts</a></li>
                        <li th:unless="${isAuthenticated}" class="nav-item"><a class="nav-link" href="#" th:href="@{/auth/login}">Login</a></li>
                        <li th:if="${isAuthenticated}" class="nav-item"><a class="nav-link" href="#" th:href="@{/auth/logout}">Logout</a></li>
                        <li th:unless="${isAuthenticated}" class="nav-item"><a class="nav-link" href="#" th:href="@{/auth/register}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" id="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Car Forum!</div>
                <div class="masthead-heading text-uppercase">Get to know the latest from the Automotive world!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Main menu</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-post fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Browse all comments</a></h3>
                    </div>
                    <div class="col-md-4">
                        <div class="comment-details" style="text-align: right; margin-bottom: 20px;">
                            <h2 style="display: inline-block; color: #ffbf00;">All Post:
                                <span th:text="${posts.size()}"></span>&nbsp;&nbsp;&nbsp;
                            <h2 style="display: inline-block; color: #ffbf00;">Registered users:
                                <span th:text="${users.size()}"></span>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
<!--                    <div class="col-md-4">-->
<!--                        <span class="fa-stack fa-4x">-->
<!--                            <i class="fas fa-circle fa-stack-2x text-primary"></i>-->
<!--                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>-->
<!--                        </span>-->
<!--                        <h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></h3>-->
<!--                    </div>-->
                </div>
            </div>
            <br>
            <br>

        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Top Posts</h2>
                </div>
                <div class="row">
<!--                    <div class="col-lg-4 col-sm-6 mb-4">-->
                        <!-- Portfolio item 1-->
                    <div th:each="post, iter : ${top10}" th:if="${post.getStatus().toString().equals('Active')}"  class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" th:href="'#portfolioModal' + ${post.id}">
                                <div   class="portfolio-hover">
                                    <div  class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading" th:text="${post.title}">Post Title</div>
                                <div class="portfolio-caption-subheading text-muted" th:text="${post.getCreateBy().getUsername()}">Post Category</div>
                            </div>
                    </div>
                </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                </div>
            </div>
        </section>

        <!-- About-->
        <section class="page-section" id="about" >
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Last Post</h2>
                </div>
                <ul class="timeline">
                    <li th:each="post, iter : ${lastPosts}" th:if="${post.getStatus().toString().equals('Active')}" >
                        <div >
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading" th:text="${post.title}"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" th:text="${post.content}"></p></div>
                            </div>
                        </div>
                    </li>
<!--                    <li class="timeline-inverted">-->
<!--                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>-->
<!--                        <div class="timeline-panel">-->
<!--                            <div class="timeline-heading">-->
<!--                                <h4>March 2011</h4>-->
<!--                                <h4 class="subheading">An Agency is Born</h4>-->
<!--                            </div>-->
<!--                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>-->
<!--                        <div class="timeline-panel">-->
<!--                            <div class="timeline-heading">-->
<!--                                <h4>December 2015</h4>-->
<!--                                <h4 class="subheading">Transition to Full Service</h4>-->
<!--                            </div>-->
<!--                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="timeline-inverted">-->
<!--                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>-->
<!--                        <div class="timeline-panel">-->
<!--                            <div class="timeline-heading">-->
<!--                                <h4>July 2020</h4>-->
<!--                                <h4 class="subheading">Phase Two Expansion</h4>-->
<!--                            </div>-->
<!--                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                        </div>-->
<!--                    </li>-->
                    <li class="timeline-inverted">
                        <a th:href="@{/posts/new}">
                            <div class="btn btn-primary btn-link timeline-image"  >
                                <h4>
                                    Create
                                    <br />
                                    your new
                                    <br />
                                    Post!
                                </h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                            <h4>Georgi Dimitrov</h4>
                            <p class="text-muted" style="color: #19538a;">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                            <h4>Kiril Kostov</h4>
                            <p class="text-muted" style="color: #19538a;">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                            <h4>Radoslav Popov</h4>
                            <p class="text-muted" style="color: #19538a;">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large" style="color: #19538a;">This is our team of advanced JAVA developers who developed this Automotive forum for you.</p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>

                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
<!--                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </section>-->
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/" aria-label="Twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div th:each="post : ${top10}">
            <div class="portfolio-modal modal fade" th:id="'portfolioModal' + ${post.id}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div  class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 th:text="${post.getTitle()}" class="text-uppercase">Project Name</h2>
<!--                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />-->
                                    <p th:text="${post.getContent()}">Default Text</p>
                                    <ul class="list-inline" th:unless="isAuthenticated">
                                        <li>
                                            <strong>Client:</strong>
                                            <span th:text="${post.getCreateBy().getUsername()}">Default Value</span>
                                        </li>
                                        <li>
                                            <strong>Client:</strong>
                                            <span th:text="${post.getUserLikes().size()}">Default Value</span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Post
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        </div>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


    </body>
</html>
