<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum System</title>
</head>
<body>

<h2 th:text="#{home.welcome}">Welcome (design)!</h2>

<ul>
    <li th:if="${isAdmin}"><h3><a href="#" th:href="@{/users/admin}" th:text="#{navigation.admin}">Admin Portal</a></h3></li>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
    <li th:unless="${isAuthenticated}"><h3 ><a href="#" th:href="@{/auth/login}">Login</a></h3></li>
    <li th:unless="${isAuthenticated}"><h3 ><a href="#" th:href="@{/auth/register}">Register</a></h3></li>
    <li th:if="${isAuthenticated}"><h3 ><a href="#" th:href="@{/auth/logout}">Logout</a></h3></li>
    <li th:if="${isAuthenticated}"><h3 ><a href="#" th:href="@{/users/profile}">Profile</a></h3></li>
    <li><h3><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Browse all comments</a></h3></li>
    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></h3></li>
</ul>

<h2 th:if="${isAuthenticated}" th:text="${session.currentUser}"></h2>

</body>
</html>
