<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link th:href="@{/css/NotFoundView.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="error-title" th:text="#{error.not-found}">Page Not Found</h1>
        <p class="error-message" th:text="${error}">Please, try again.</p>
        <a href="/" class="home-link" th:text="#{navigation.home}">Go Back to Homepage</a>
    </div>
</div>
</body>
</html>
