<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post title</title>
    <link th:href="@{/css/PostView.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="container">
        <nav class="form-group">

            <a href="/">Homepage</a>
            <br><br>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a>

        </nav>
    </div>
</header>

<h2 class= "title"> Read the latest about the post</h2>
<div class="container">
    <h2> Title: <span th:text="${post.getTitle()}">Title </span></h2>
    <h3> Content: <span th:text="${post.getContent()}">Content</span></h3>
    <h3> Creator: <span th:text="${post.getCreateBy().getUsername()}"> Creator </span></h3>
    <h3>  Likes: <span class="post-likes" th:text="${post.getUserLikes().size()}">Likes</span></h3>
    <h3>  Comments: <span class="post-likes" th:text="${commentsCount}">Counts</span></h3>

    <form action="#" th:action="@{/posts/__${post.id}__/like/}" th:object="${post}" method="post">
        <div th:unless="${post.userLikes.contains(user)}" class="text-center">
            <button type="submit" value="Like" class="like-button">Like</button>
        </div>

        <div th:if="${post.userLikes.contains(user)}" class="text-center">
            <button type="submit" value="Dislike" class="dislike-button">Dislike</button>
        </div>
    </form>
    <br><br>

    <h3>
        <a class="update-button" href="#" th:href="@{/posts/{id}/update(id=${post.getId()})}">Update</a>
        <a class="delete-button" href="#" th:href="@{/posts/{id}/delete(id=${post.getId()})}">Delete</a>
    </h3>
    <br><br>

    <h3>All Tags</h3>
    <ul>
        <li th:each="tag : ${tags}">
            <label th:text="#{tag.label.name}"> </label>
            <h4 th:text="${tag.getName()}">Tag Name</h4>
            <label th:text="#{tag.label.user}"></label>
            <h5 th:text="${tag.getCreateBy().getUsername()}">Tag By</h5>
    </ul>

    <div class="add-button">
        <a href="#" th:href="@{/tags/new}" th:text="#{navigation.create-tag}">Add tag</a>
    </div>

    <div class="comment-section">
        <h3>All Comments</h3>
        <ul>
            <li th:each="comment : ${comments}">
                <label th:text="#{comment.label.content}"> </label>
                <h4 th:text="${comment.getContent()}">Comment Content</h4>
                <label th:text="#{comment.label.user}"></label>
                <h5 th:text="${comment.getCreateBy().getUsername()}">Comment By</h5>
            </li>
        </ul>

        <div class="add-button">
            <a th:href="@{/comments/{id}/newOnPost(id=${post.getId()})}" th:text="#{navigation.create-comment}">Add comment</a>
        </div>
    </div>
</div>

</body>
<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
