<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/Styles.css" th:href="#{/Style.css}" rel="stylesheet"/>
</head>

<body>
<ul>
    <li><h3><a href="/static" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/tags}" th:text="#{navigation.all-tags}">All tags</a></h3></li>
</ul>

<h2 th:text="${tag.getName()}">Name</h2>
<h3 th:text="${tag.getPostOn().getTitle()}">Post</h3>
<h3 th:text="${tag.getCreateBy().getUsername()}">User</h3>

<ul>
    <li><h3><a href="#" th:href="@{tags/new}" th:text="#{navigation.create-tag}">Create Tag</a></h3></li>
</ul>

<h3>
    <a href="#" th:href="@{/tags/{id}/update(id=${tag.getId()})}">Update</a>
    <a href="#" th:href="@{/tags/{id}/delete(id=${tag.getId()})}">Delete</a>

</h3>

</body>
</html>