<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Comment</title>
    <link th:href="@{/css/UpdateCommentView.css}" rel="stylesheet"/>
</head>

<body>
<ul class="navigation">
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Go back to all Posts</a></h3></li>
    <li><h3><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Go back to all Comments</a></h3>
    </li>
</ul>

<div class="form-container">
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${comment}" method="post">
        <label th:text="#{comment.label.content}">Content</label>
        <br>
        <input type="text" th:field="*{content}">
        <label class="error" th:errors="*{content}">Content error </label>
        <br> <br>
        <input type="submit" value="Save">
    </form>
</div>

</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
