<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Tag</title>
    <link th:href="@{/css/UpdateTagView.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <h1>Update Tag</h1>
</header>

<ul>
    <li><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Go back to all Posts</a></li>
    <li><a href="#" th:href="@{/comments}" th:text="#{navigation.all-comments}">Go back to all Comments</a></li>
</ul>

<div class="container">
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tag}" method="post">
        <label th:text="#{tag.label.name}">Tag Name:</label>
        <input type="text" th:field="*{name}" placeholder="Enter tag name"/>
        <label class="error" th:errors="*{name}"></label>

<!--        <label th:text="#{tag.label.post}">Post:</label>-->
<!--        <select th:field="*{postId}">-->
<!--            <option th:each="post : ${posts}" th:value="${post.getId()}" th:text="${post.getTitle()}">PostId</option>-->
<!--        </select>-->

        <input type="submit" value="Save"/>
    </form>
</div>
</body>

</html>
