<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail Update</title>
    <link th:href="@{/css/UpdateUserView.css}" rel="stylesheet"/>

</head>
<body>

<h3>User Password Update</h3>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">

    <label  th:text="#{user.label.password}">Password:</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <label class="error" th:errors="*{password}"></label>
    <br/><br/>


    <label  th:text="#{user.label.changePassword}">New Password:</label>
    <br/>
    <input type="password" th:field="*{changePassword}"/>
    <label class="error" th:errors="*{changePassword}"></label>
    <br/><br/>

    <label th:text="#{user.label.changePasswordConfirm}">Confirm new password:</label>
    <br/>
    <input type="password" th:field="*{changePasswordConfirm}"/>
    <label class="error" th:errors="*{changePasswordConfirm}"></label>
    <br/><br/>

    <input type="submit" value="Update"/>
</form>

</body>
</html>
