<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link th:href="@{/css/UpdatePostView.css}" rel="stylesheet"/>

</head>

<body>
<br>
<div class="center-content">
    <ul>
        <li><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Go back to all Posts</a></li>
    </ul>
</div>
<br>
<h2>Update Post</h2>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">

    <label th:text="#{post.label.title}">Post Title:</label>
    <input type="text" th:field="*{title}"/>

    <label class="error" th:errors="*{title}"></label>

    <label th:text="#{post.label.content}">Content:</label>
    <input type="text" th:field="*{content}"/>

    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer>
    <p>© 2023 Car Forum. All rights reserved. Part of Telerik Academy Development Project</p>
</footer>
</html>
