<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">Private part only for Admins</title>
    <link th:href="@{/css/UserView.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <header>
        <h1> Registered User Detailed Information</h1>
    </header>
    <nav>
        <ul class="navigation">
            <li><a href="/" class="home" th:text="#{navigation.home}">Home</a></li>
            <li><a href="#" class="all-users" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all Users</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="user-details">
            <img class="user-photo"
                 th:src="${user.photoUrl != null ? user.photoUrl : '/assets/img/User_photo/default.jpg'}"
                 alt="User Photo"/>
            <br><br>
            <ul>
                <li><strong>ID:</strong> <span class="user-id" th:text="${user.getId()}">ID</span></li>
                <li><strong>Full Name:</strong> <span class="full-name"
                                                      th:text="${user.getFirst_name()} + ' ' + ${user.getLast_name()}">Full name</span>
                </li>
                <li><strong>Username:</strong> <span class="username" th:text="${user.getUsername()}">Username</span>
                </li>
                <li><strong>Email:</strong> <span class="email" th:text="${user.getEmail()}">Email</span></li>
                <li><strong>Role:</strong> <span class="role" th:text="${user.getRole()}">Role</span></li>
                <li th:if="${isAdmin}">
                    <strong>Phone:</strong>  <span class="role" th:unless="${user.getPhoneNumber().getPhone_number() == null}" th:text="${user.getPhoneNumber().getPhone_number()}">Phone</span>
                     <span class="role" th:if="${user.getPhoneNumber().getPhone_number() == null}" th:text="#{user.label.noPhoneNumber}">Phone</span>
                </li>
            </ul>
        </div>



        <div class="actions" th:if="${logUser.getRole().toString().equals('Admin')}" >
            <a href="#" class="admin"  th:unless="${user.getRole().toString().equals('Admin')}" th:href="@{__${#httpServletRequest.requestURI}__/admin}">Promote
                to Admin</a>
        </div>


        <div class="actions">
            <a href="#" th:if="${user.getUsername().equals(logUser.getUsername())}" class="update" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update Password</a>
       </div>



        <form action="#" th:if="${isAdmin}" th:href="@{/phoneNumber/{id}/add(id=${id})}" >
        <div  class="actions">
            <a href="#" class="admin" th:if="${user.getPhoneNumber().getPhone_number().equals('No phone')}" th:href="@{/phoneNumber/{id}/add(id=${id})}" >
                Add Phone Number</a>
        </div>
        </form>



        <div class="status">
            <form action="#" th:if="${isAdmin}" th:action="@{__${#httpServletRequest.requestURI}__/block}"
                  th:object="${user}" method="get">
                <div th:if="${user.getStatus().toString().equals('Active')}" class="text-center">
                    <button type="submit" class="block-button">Block User</button>
                </div>
            </form>

            <form action="#" th:if="${isAdmin}" th:action="@{__${#httpServletRequest.requestURI}__/active}"
                  th:object="${user}" method="get">
                <div th:if="${user.getStatus().toString().equals('Block')}" class="text-center">
                    <button type="submit" class="active-button">Activate User</button>
                </div>
            </form>
        </div>

    </main>
</div>
</body>
</html>

